.contact {
  width: 100%;
  text-align: center;
}

.contact-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.contact-list {
  display: flex;
  flex-direction: column;
}

.contact-icon {
  fill: var(--clr1);
}

.contact-list a {
  display: flex;
  align-items: center;
  gap: 0.5rem; /* רווח בין האייקון לטקסט */
  text-decoration: none; /* אם את לא רוצה קו מתחת */
  color: inherit; /* שומר על צבע הטקסט */
}

@media (max-width: 900px) {
  .contact-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .contact-list {
    gap: 30px;
  }
}

@media (max-width: 450px) {
  .contact {
    width: 100%;
    text-align: center;
  }
  .contact-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .contact-list {
    width: 100%;
    justify-content: start;
    align-items: start;
    gap: 15px;
  }

  .contact-icon {
  fill: var(--clr1);
  width: 24px;
}

.contact-list a {
  display: flex;
  align-items: center;
  gap: 0.5rem; /* רווח בין האייקון לטקסט */
  text-decoration: none; /* אם את לא רוצה קו מתחת */
  color: var(--clr2); /* שומר על צבע הטקסט */
}
}
