.custom-list {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 20px;
}

.custom-list li {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  font-size: 1rem;
  font-family: CaveatBrush;
}
