.language-switcher {
  grid-column: 12;
  display: flex;
  justify-content: end;
  align-items: center;
  font-family: CaveatBrush;
}

.language-btn {
  position: relative;
  color: var(--clr2);
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 3px;
}

.flag-icon {
  width: 20px;
  height: 20px;
  object-fit: cover;
}

.dropdown-menu {
  position: absolute;
  background: transparent;
  border: none;
  z-index: 100;
  top: 65px;
}

.dropdown-option {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 3px;
  background: transparent;
  border: none;
  color: var(--clr2);
}

.dropdown-option:hover {
  background-color: #f0f0f0;
}

/*mobile*/
@media (max-width: 599px) {
  .dropdown-menu {
  position: absolute;
  background: transparent;
  border: none;
  z-index: 100;
  top: 80px;
}
}
