.navbar {
  grid-column: 5/10;
  width: 100%;
  /* position: relative; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  color: var(--clr1);
  font-size: 1rem;
  z-index: 50;
}

.navbar ul {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 30px;
  list-style: none;
}

.navbar ul li {
  font-family: CaveatBrush;
  font-size: 1.2rem;
  text-decoration: none;
  color: var(--clr2);
  white-space: nowrap;
  cursor: pointer;
}

.navbar ul li a:hover {
  color: var(--clr3);
}

.spanish-link {
	text-decoration: none;
	color: var(--clr2);
	font-weight: 700;
  position: relative;
}

.spanish-link:hover {
  color: var(--clr4) !important; 
}

.spanish-link::before {
  content: '';
  background-color: var(--clr1);
  position: absolute;
  left: 0;
  bottom: 3px;
  width: 100%;
  height: 3px;
  z-index: -1;
  transition: all .3s ease-in-out;
}

.spanish-link:hover::before {
  bottom: 0;
  height: 100%;
}

.dropdown {
  position: relative;
  display: inline-block;
}

/* סגנון כפתור המבורגר - יופיע רק במסכים קטנים */
.navbar .menu {
  display: none; /* מוסתר כברירת מחדל */
}

/* תפריט ניווט במסכים גדולים */
@media (min-width: 961px) {
  .navbar ul {
    display: flex !important; /* תפריט מוצג תמיד במסכים גדולים */
  }
}

/* תפריט ניווט במסכים קטנים */
@media (max-width: 960px) {
  .navbar .menu {
    grid-column: 1;
    display: flex;
    flex-direction: column;
    gap: 8px;
    cursor: pointer;
  }

  .navbar ul {
    display: none;
    flex-direction: column;
    width: 100%;
    text-align: center;
    transition: all 0.3s ease-in-out;
  }

  .navbar ul.open {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    gap: 10px;
    background-color: var(--clr1);
    z-index: 50;
    transition: all 0.3s ease-in-out;
  }

  .navbar ul.open li a {
    color: var(--clr4); /* או כל צבע שתרצי */
  }

  .navbar ul.open li a:hover {
    color: var(--clr3); /* צבע במעבר עכבר */
  }
}
