.offer-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 2rem;
  list-style: none;
  margin-bottom: 50px;
}

.offer-list li {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 40px;
  gap: 1rem;
}

.offer-list li .icon {
  grid-area: icon;
  width: 24px;
  aspect-ratio: 1;
  display: grid;
  place-items: center;
  fill: var(--clr3);
  background-color: transparent;
  font-size: 2.5rem;
  /* border: 3px solid var(--clr3); */
  border-radius: 50%;
}

.offer-list li .title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 600;
  height: 40px;
  text-align: start;
  color: var(--clr2);
  font-family: CaveatBrush;
}

.offer-list li .descr {
  grid-area: descr;
}

@media (max-width: 450px) {
  .offer-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 2rem;
    list-style: none;
    margin-bottom: 50px;
  }

  .offer-list li {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 24px;
    gap: 1rem;
  }

  .offer-list li .icon {
    grid-area: icon;
    width: 24px;
    aspect-ratio: 1;
    display: grid;
    place-items: center;
    fill: var(--clr3);
    background-color: transparent;
    border-radius: 50%;
  }

  .offer-list li .title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 600;
    height: 24px;
    text-align: start;
    color: var(--clr2);
    font-family: CaveatBrush;
  }

  .offer-list li .descr {
    grid-area: descr;
  }
}
