.weather {
  font-family: CaveatBrush;
  display: flex;
  justify-content: end;
  align-items: center;
  grid-column: 11;
  gap: 3px;
}

.temperature {
  font-size: 1rem;
  font-weight: bold;
  color: var(--clr1);
}

.weather-icon {
  color: var(--clr1);
  width: 20px;
  height: 20px;
  display: block; /* כדי למנוע רווחים מיותרים */
}

/*mobile*/
@media (max-width: 599px) {

  .weather {
  font-family: CaveatBrush;
  display: flex;
  justify-content: end;
  align-items: center;
  grid-column: 10;
  gap: 3px;
}

}
