.main-layout {
  padding-left: 3.6rem;
  padding-right: 3.6rem;
}

/*mobile*/
@media (max-width: 600px) {
  .main-layout {
    padding-left: 1.6rem;
    padding-right: 1.6rem;
  }
}

@media (max-width: 450px) {
  .main-layout {
    padding-left: 1.2rem;
    padding-right: 1.2rem;
  }
}
